{% extends 'base.html' %}

{% load static %}

{% block title %}
  Contact Details
{% endblock title %}
 
 
{% block content %}
    <!-- Main Section -->
    <div class="container">
      <h2 class="heading font-weight-light text-center">Card Heading</h2>
      <hr />
    </div>
    <div class="container main-part">
      {% if contact %}
          {% include 'partials/_card.html' %} 
      {% else %}
          <p>No Contacts</p>
      {% endif %}
    </div>
    <div class="container mt-3">
      {% if contact %}
      <h5 class="text-center">Date Added: &nbsp; {{ contact.created_at }}</h5>
      {% endif %}
      <p class="text-center">
        <a href="" class="btn btn-info">Edit</a>&nbsp; &nbsp; &nbsp; 
        <a href="" class="btn btn-danger">Delete</a>
      </p>
    </div>
    <!-- Main Section ends-->
{% endblock content %}
